body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
}

.logo{
  /* float:right; */
  width: 100px;
  height: 100px;
}

.input-group-addon,
.input-group-addon + input {
   box-shadow: none;
}

