<!DOCTYPE html>
<html>
<head>
	<title>Antibody prevalence</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/json2html/2.1.0/json2html.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/form.js') }}"></script>

    <script> 
    // Add an addition kit
    var count = 4;
    function Mykit(){
        if(count<8){
            var table = document.getElementById("mykits");
            var row = table.insertRow(-1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);

            cell1.innerHTML = "Kit #"+count.toString();
            cell2.innerHTML = "<input type='text' name='r[]'/>";
            cell3.innerHTML = "<input type='text' name='s[]'/>";
            cell4.innerHTML = "<input type='text' name='c[]'/>";
            count += 1
        }
        else{
            var but = document.getElementById("addkit");
            but.value = "Can't add more kits!";
        }

    }
    </script>

</head>
<body>


<div class="container">
    <h1>Serosurvey to estimate antibody prevalence</h1>
	<br><br>

<style>
th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
  font-size: 20px;
}
</style>


    <form method="post">

        <h3>Kit specifications</h3>

        <table padding="5px" id="mykits">
            <tr> 
                <th>Testing kit</th>
                <th>Cost ( &#8377; )</th>
                <th>Sensitivity</th>
                <th>Specificity</th>
            </tr>


            <tr>
                <td>Kit #1</td>
                <td><input type='text' name='r[]'  value='300' />  </td> 
                <td><input type='text' name='s[]'  value='0.95' /> </td>
                <td><input type='text' name='c[]'  value='0.95' /> </td>
            </tr>

            <tr>
                <td>Kit #2</td>
                <td><input type='text' name='r[]' />  </td> 
                <td><input type='text' name='s[]' /> </td>
                <td><input type='text' name='c[]' /> </td>
            </tr>

            <tr>
                <td>Kit #3</td>
                <td><input type='text' name='r[]'  />  </td> 
                <td><input type='text' name='s[]'  /> </td>
                <td><input type='text' name='c[]'  /> </td>
            </tr>



        </table>

        <input id="addkit" type="button" style="background-color:gray;color:white;width:150px; height:40px;font-weight:bold;" onclick="Mykit()" value="Add a kit" />


        <!-------------------->

						<h3>What would you like to estimate? </h3>
						<div class="container">

							<div class="form-check row">
                                <input class="form-check-input" type="radio" name="option" id="option1" value="error" checked="checked"> 
								<label class="form-check-label" for="option1">
									Estimate margin of error (for 95% confidence), given a budget
								</label>
							</div>
							<div class="form-check row">
                                <input class="form-check-input" type="radio" name="option" id="option2" value="cost"> 
								<label class="form-check-label" for="option2">
									Estimate budget, given a margin of error (for 95% confidence)
								</label>
							</div>
							<br>
							<div class="form-group row">
								<label class="col-sm-4 col-form-label" for="budget">Budget (&#8377;)</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="budget" name="budget" value="{{ mCost }}">
								</div>
							</div>
							<div class="form-group row" id="marginInput">
								<label class="col-sm-4 col-form-label" for="margin">Margin of error</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="margin" name="margin" value="{{ m }}" step="0.001" readonly>
								</div>
							</div>
						</div>

        <!-------------------->

          	  <button type="submit" class="btn btn-default"  style="height:40px; width:100px;margin:20px; background:orange;" >Submit</button>

    </form>

	<br>

    <p>
	<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>

	<div id="dataoutput">
    </div>
    </p>

</div>


</body>
</html>
